<div class="container">
  <div class="basic-info">
    <h1>About</h1>
    <p class="lead">This website is mainly created for practicing Rails programming. Also now it helps the author to
      save a few minutes to send his shopping list to mobile phone</p>
    <p class="lead">Source code is available at <a href="https://github.com/afansky/recipe-list">GitHub repository</a></p>
    <p class="lead"><a href="mailto: afansky@gmail.com">Contact author</a></p>
  </div>
</div>