<div class="container">
  <div class="basic-info">
    <h1>Easy Groceries</h1>
    <p class="lead">Copy and paste your shopping list and get a check list at your phone</p>
    <%= link_to 'Create shopping list', new_recipe_model_url, :class => 'btn btn-large btn-primary' %>
  </div>
</div>